<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>
</head>
<body>

<h4>Hi, {{email}}：</h4>
<p> 您的账户 {{email}} 正在获取身份验证 (登录IP：{{ip}}), 验证码  {{code}} , 5 分钟内有效。若非您本人操作，请尽快
    修改您的密码 或联系我们。


</p>
<p>此致</p>
<p>Moyi-be</p>
<p>您有新的邮件，请注意查收。</p>
</body>
</html>
